<h3>Masalah:</h3>
<p data-placeholder="(Tulis masalah yang terjadi)"></p>

<ol>
  <li>
    <p><b>Kenapa hal itu terjadi?</b></p>
    <p data-placeholder="Jawab: "></p>
  </li>
  <li>
    <p><b>Kenapa (jawaban no. 1) terjadi?</b></p>
    <p data-placeholder="Jawab: "></p>
  </li>
  <li>
    <p><b>Kenapa (jawaban no. 2) terjadi?</b></p>
    <p data-placeholder="Jawab: "></p>
  </li>
  <li>
    <p><b>Kenapa (jawaban no. 3) terjadi?</b></p>
    <p data-placeholder="Jawab: "></p>
  </li>
  <li>
    <p><b>Kenapa (jawaban no. 4) terjadi?</b></p>
    <p data-placeholder="Jawab (Akar Masalah): "></p>
  </li>
</ol>

<h3>Solusi untuk Akar Masalah</h3>
<ul>
  <li><p></p></li>
</ul>
