<h3>1. Kebiasaan / Perilaku</h3>
<ul>
  <li><p data-placeholder="Tindakan persis apa yang baru saja saya lakukan atau ingin saya ubah?"></p></li>
</ul>

<h3>2. Pemicu (Cue)</h3>
<ul>
  <li><p data-placeholder="Apa yang terjadi sesaat sebelum dorongan ini muncul? (Waktu, tempat, orang, emosi, tindakan tertentu?"></p></li>
</ul>

<h3>3. Emosi yang Mendasari (Craving)</h3>
<ul>
  <li><p data-placeholder="Perasaan atau kondisi psikologis apa yang sebenarnya sedang saya cari? (Misal: rasa lega dari stres, sensasi pelarian, validasi)"></p></li>
</ul>

<h3>4. Hadiah (Reward)</h3>
<ul>
  <li><p data-placeholder="Apa manfaat instan yang saya dapatkan dengan melakukan kebiasaan ini? Bagaimana rasanya secara fisik/mental?"></p></li>
</ul>

<h3>5. Strategi Pengganti</h3>
<ul>
  <li><p data-placeholder="Perilaku baru apa yang lebih sehat yang bisa memberikan 'Hadiah' atau kepuasan yang sama di masa depan?"></p></li>
</ul>
