<h3>Keputusan:</h3>
<p data-placeholder="(Apakah saya harus...)"></p>

<h3>1. 10 Menit Dari Sekarang</h3>
<ul>
  <li><p data-placeholder="Bagaimana perasaan saya segera setelah memutuskan ini? (Lega/Menyesal/Cemas?)"></p></li>
</ul>

<h3>2. 10 Bulan Dari Sekarang</h3>
<ul>
  <li><p data-placeholder="Apa dampak jangka menengahnya? Apakah saya masih akan mengingat ini?"></p></li>
</ul>

<h3>3. 10 Tahun Dari Sekarang</h3>
<ul>
  <li><p data-placeholder="Apakah keputusan ini akan berpengaruh pada gambaran besar hidup saya?"></p></li>
</ul>

<h3>Perspektif Akhir</h3>
<ul>
  <li><p data-placeholder="Melihat ketiga perspektif di atas, apa langkah terbaik?"></p></li>
</ul>
