<h3>S - Specific (Spesifik)</h3>
<ul>
  <li><p data-placeholder="Apa persisnya yang ingin dicapai? Siapa yang terlibat? Di mana?"></p></li>
</ul>

<h3>M - Measurable (Terukur)</h3>
<ul>
  <li><p data-placeholder="Bagaimana saya tahu kalau ini sudah berhasil? Angka/indikator apa yang digunakan?"></p></li>
</ul>

<h3>A - Achievable (Dapat Dicapai)</h3>
<ul>
  <li><p data-placeholder="Apakah ini realistis dengan sumber daya yang saya punya saat ini?"></p></li>
</ul>

<h3>R - Relevant (Relevan)</h3>
<ul>
  <li><p data-placeholder="Mengapa tujuan ini penting bagi saya? Apakah selaras dengan jangka panjang?"></p></li>
</ul>

<h3>T - Time-bound (Batas Waktu)</h3>
<ul>
  <li><p data-placeholder="Kapan tenggat waktunya?"></p></li>
</ul>
