<h3>Target Hari Ini</h3>
<ul data-type="taskList">
  <li data-type="taskItem" data-checked="false"><p data-placeholder="Apa satu tugas besar yang ingin diselesaikan?"></p></li>
</ul>

<h3>Log Sesi</h3>
<ul>
  <li><p>🍅 <b>Sesi 1:</b> <span data-placeholder="(Tugas) - (Selesai/Belum) - (Gangguan?)"></span></p></li>
  <li><p>🍅 <b>Sesi 2:</b> ...</p></li>
  <li><p>🍅 <b>Sesi 3:</b> ...</p></li>
  <li><p>🍅 <b>Sesi 4:</b> ...</p></li>
</ul>

<h3>Istirahat Panjang</h3>
<ul>
  <li><p data-placeholder="Apa yang saya lakukan untuk recharge? (Jalan kaki/Minum/Regangan)"></p></li>
</ul>
