<h3>Objek / Masalah:</h3>
<p data-placeholder="(Subjek yang ingin diinovasi)"></p>

<ul>
  <li>
    <p><b>S - Substitute (Ganti):</b> <span data-placeholder="Apa yang bisa diganti? (Komponen, aturan, orang?)"></span></p>
  </li>
  <li>
    <p><b>C - Combine (Kombinasi):</b> <span data-placeholder="Apa yang bisa digabungkan?"></span></p>
  </li>
  <li>
    <p><b>A - Adapt (Adaptasi):</b> <span data-placeholder="Ide apa yang bisa diadopsi dari tempat lain?"></span></p>
  </li>
  <li>
    <p><b>M - Modify (Modifikasi):</b> <span data-placeholder="Bisakah diubah bentuk, ukuran, atau atributnya?"></span></p>
  </li>
  <li>
    <p><b>P - Put to another use (Fungsi Lain):</b> <span data-placeholder="Bisa dipakai untuk apa lagi?"></span></p>
  </li>
  <li>
    <p><b>E - Eliminate (Eliminasi):</b> <span data-placeholder="Apa yang bisa dibuang/disederhanakan?"></span></p>
  </li>
  <li>
    <p><b>R - Reverse (Balik):</b> <span data-placeholder="Bagaimana jika urutannya dibalik?"></span></p>
  </li>
</ul>
