<h3>1. Kemenangan Besar Hari Ini</h3>
<ul>
  <li><p data-placeholder="Apa satu hal paling membanggakan yang saya selesaikan hari ini?"></p></li>
</ul>

<h3>2. Kemenangan Kecil (Small Wins)</h3>
<ul data-type="taskList">
  <li data-type="taskItem" data-checked="false"><p data-placeholder="Hal-hal sederhana yang berhasil saya lakukan (bangun pagi, minum air cukup, menahan emosi)."></p></li>
  <li data-type="taskItem" data-checked="false"><p></p></li>
  <li data-type="taskItem" data-checked="false"><p></p></li>
</ul>

<h3>3. Kekuatan Diri yang Terlihat</h3>
<ul>
  <li><p data-placeholder="Kualitas apa dalam diri saya yang membantu pencapaian ini? (Ketekunan, kesabaran, keberanian?)"></p></li>
</ul>
